@import "../../theme.module.scss";

.articleMetadata {
  .container {
    margin: 0px auto;
  }

  .themeColors {
    background-color: $ms-themePrimary; 
    color: $ms-white; 
    
    * {
      color: $ms-white; 
    }
  }

  .row {
    position: inherit;
  }

  .column {
   position: inherit;
  }

  .multiChoiceList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .multiChoiceListItem {
    position: inherit;
  }

  .multiChoiceOptionContainer {
    margin-top: 4px;
  }
}